<div id="<%= dom_id log_in %>">
  <p>
    <strong>User:</strong>
    <%= log_in.user %>
  </p>

  <p>
    <strong>City:</strong>
    <%= log_in.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= log_in.state %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= log_in.order %>
  </p>

</div>
