<div id="<%= dom_id address %>">
  <p>
    <strong>Name:</strong>
    <%= address.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Landmark:</strong>
    <%= address.landmark %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= address.pincode %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= address.active %>
  </p>

</div>
